$padding-ext-horiz: 0.8rem;
$padding-horiz: calc($padding-ext-horiz / 2);
$padding-ext-top: 0.3rem;
$bg: rgb(39, 39, 39);
$bg-darker: rgb(14, 14, 14);
$border-radius: 1rem;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "UsefulReindeer, Hack";
}

.bar {
  // background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  // background: black;
  font-size: 14pt;
  padding-top: $padding-ext-top;
}

.nixosbutton {
  padding-left: $padding-ext-horiz;
}

.right {
padding-right: $padding-ext-horiz;
}

.clockpart {
  padding-left: $padding-horiz;
}

.stats {
  padding-left: $padding-ext-horiz;
}

.membar {
  padding-left: $padding-horiz;
  padding-right: $padding-horiz;
}

.gauge_icon {
  font-size: 1.5rem;
  padding: 0.5rem;
}

tooltip {
  background-color: $bg;
  border-radius: 1rem;
}

.overlay {
  background: $bg;
  border-radius: $border-radius;
  font-size: 18;

  .btn:hover {
    background-color: $bg-darker;
    border-radius: $border-radius;
  }
}

.music-box * {
  margin: 0rem 0.25rem;
}

scale trough {
  background-color: #4e4e4e;
  border-radius: 3em;
  min-height: 1em;
  // min-width: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

scale trough highlight {
  background-color: #5d9ed3;
  margin: 0.2em 0.21em;
  border-radius: 3em;
}
